<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tinder de Mascota - Votacion</title>
  <!-- Bootstrap CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- NUESTROS ESTILOS -->
  <link href="css/style.css" rel="stylesheet">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/bootstrap/jquery.min.js"></script>

</head>

<body>

	<style>
    body {
    background-image: url("img/fondor.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% auto;
  }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-dark fixed-top">
    <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-9">
      <a class="navbar-brand" href="/">Tinder de Mascota</a>
          </div>
      </div>
    </div>
  </nav>
</body>

</html>